<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
  <style>
    .row{
        background-color: black;
        color: white;
        display: flex;
    }
    .col{
        flex: 50%;
    }
  </style>
  <div class="row">
  <div class="col">
        <ul><li>It's Python</li></ul>
  </div>
  <div class="col">
        <ul><li>Data Science</li></ul>
  </div>


  </div>
    
</body>
</html>